---
import BaseLayout from "../layouts/BaseLayout.astro";
// import Greeting from "../components/Greeting.jsx";
import Social from "../components/Social.astro";

const pageTitle = "Home Page";

const platform = "github";
const username = "jun-del";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->

	<br />
	<h3>
		The repository for this website is at: <Social
			platform={platform}
			username={username}
		/>
	</h3>
</BaseLayout>
